.mapid{
    height: 70%;
    width: device-width;
}

#fullOverlay{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(100,100,100,1);
    z-index: 2147483647;
}